<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="components/header :: header"></head>

<body>
    <nav th:replace="components/navbar :: nav_bar"></nav>

    <!-- Principal Container -->
    <div class="container-fluid bg-white">
        <div class="row">

            <!-- Sidebar -->
            <div th:replace="components/sidebar :: sidebar"></div>
            <!-- End Sidebar -->

            <!-- Container -->
            <div class="col-md-9 ms-sm-auto col-lg-10 px-md-4 main-container">
                <main class="w-100 h-100 d-flex justify-content-center">
                  <div class="w-100">
                    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
                      <h1 class="h2">Dentist</h1>
                      <div class="btn-toolbar mb-2 mb-md-0">
                        <div class="btn-group me-2">
                          <button type="button" class="btn btn-sm btn-outline-secondary">Share</button>
                          <button type="button" class="btn btn-sm btn-outline-secondary">Export</button>
                        </div>
                        <button type="button" class="btn btn-sm btn-outline-secondary dropdown-toggle">
                          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-calendar align-text-bottom" aria-hidden="true"><rect x="3" y="4" width="18" height="18" rx="2" ry="2"></rect><line x1="16" y1="2" x2="16" y2="6"></line><line x1="8" y1="2" x2="8" y2="6"></line><line x1="3" y1="10" x2="21" y2="10"></line></svg>
                          This week
                        </button>
                      </div>
                    </div>
                    <div class="table-responsive w-100">
                      <table class="table table-striped table-sm w-100">
                        <thead>
                          <tr>
                            <th scope="col">#</th>
                            <th scope="col">Name</th>
                            <th scope="col">Surname</th>
                            <th scope="col"></th>
                          </tr>
                        </thead>
                        <tbody>
                            <tr th:if="${dentist.empty}">
                                <td colspan="4"> No dentist Available <a th:href="@{/new-dentist}"><i class="bi bi-plus-square"></i></a> </td>
                            </tr>
                            <tr th:each="dentist : ${dentist}">
                                <td><span th:text="${dentist.id}"> # </span></td>
                                <td><span th:text="${dentist.name}"> Name </span></td>
                                <td><span th:text="${dentist.surname}"> Surname </span></td>
                                <td>
                                    <span>
                                        <a th:href="@{/new-dentist}"><i class="bi bi-plus-square"></i></a>
                                        <a href="#"><i class="bi bi-pencil-square"></i></a>
                                        <a href="#"><i class="bi bi-trash-fill"></i></a>
                                    </span>
                                </td>
                            </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </main>
              </div>
            <!-- End Container -->
            
        </div>
    </div>
    <!-- End Principal Container -->

    <footer th:replace="components/footer :: footer"></footer>
</body>

</html>