
<!-- Sidebar -->
<div xmlns:th="http://www.thymeleaf.org" th:fragment="sidebar" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
    <div class="position-sticky pt-3">
        <ul class="nav flex-column">
        <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">
            <i class="bi bi-house-fill"></i>
            Dashboard
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">
            <i class="bi bi-watch"></i>
            Turns
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">
            <i class="bi bi-person-badge"></i>
            Dentist
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">
            <i class="bi bi-person"></i>
            Patients
            </a>
        </li>
        </ul>
    </div>
    </div>
    <!-- End Sidebar -->