<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head th:replace="components/header :: header"></head>
    <body>
        <nav th:replace="components/navbar :: nav_bar"></nav>
        <div class="container-fluid">
            <div class="row">
                <div class="col-3 container-main"></div>
                <div class="col-9 p-4">
                    <div class="d-flex align-items-center justify-content-center h-100">
                        <div class="d-flex flex-column">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <footer th:replace="components/footer :: footer"></footer>
    </body>
</html>